<launch>
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps_fix_node" output="screen" >
        <param name="port" value="/dev/ttyS0" />
        <param name="baud" value="9600" />
        <param name="frame_id" value="gps_fix" />
        <param name="useRMC" value="False" />
    </node>
</launch>